<!-- Vendor scripts -->
<script src="{{ url_for('static', filename='vendor/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/jquery-ui/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/slimScroll/jquery.slimscroll.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/metisMenu/dist/metisMenu.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/iCheck/icheck.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/peity/jquery.peity.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/sparkline/index.js') }}"></script>
